.card-yellow {
  padding-top: 10px;
  background-color: #fcba03;
  text-aling: center;
  margin-top: 50px;
  margin-bottom: 50px; }

.card-red {
  padding-top: 10px;
  background-color: #fc032c;
  text-aling: center;
  margin-top: 50px;
  margin-bottom: 50px; }

.card-green {
  padding-top: 10px;
  background-color: #0bfc03;
  text-aling: center;
  margin-top: 50px;
  margin-bottom: 50px; }

.margin1 {
  margin-top: 70px;
  text-align: center; }

.margin2 {
  margin-top: 120px;
  text-align: center; }

.margintop70 {
  margin-top: 70px; }
