@mixin estilocards ($color, $padding, $aling, $top, $bottom){

padding-top: $padding;
background-color: $color;
text-aling: $aling;
margin-top: $top;
margin-bottom: $bottom;
	
 


}

	
	$yellow: #fcba03; 



	
	$red: #fc032c ;



	
	$green: #0bfc03;


	.card-yellow{
     

	@include estilocards ($yellow, 10px, center, 50px, 50px)


}


	.card-red{
     

	@include estilocards ($red, 10px, center, 50px, 50px)


}



	.card-green{
     

	@include estilocards ($green, 10px, center, 50px, 50px)


}





.margin1{


	margin-top: 70px;
	text-align: center;
}
.margin2{


	margin-top: 120px;
	text-align: center;
}

.margintop70{


	margin-top: 70px;
	
}






