
   <div class="tab-content" id="my-tab-content">


    <div class="tab-pane fade show active" id="comparar" roll="tabpanel" aria-labelledby="comparar-tab">
      
      
           <div class="table-responsive margin1"><!--Table-responsive eneste div que rodeda toda la tabla hace responsiva la tabla -->
        <table class="table table-stripped ">
          <!--Table-stripped agrega lineas a las filas de la tabla -->
          
          <thead class="thead-dark">
            <th>Cantidad</th>
            <th>Remeras</th>
            <th>Camperas</th>
            <th>Gorras</th>
            <th>Lentes de sol</th>
          </thead>
          

          <tbody>
            <tr>
              
              <td > 1 Unidad  </td>
              <td> 300$  </td>
              <td> 700$  </td>
              <td> 200$  </td>
              <td> 200$  </td>

              </tr>
              

              <tr>
              
              <td> 2 Unidades  </td>
              <td> 550$  </td>
              <td> 1300$  </td>
              <td> 390$  </td>
              <td> 300$  </td>

              </tr>
              


              <tr>
              

              <td> 3 Unidades </td>
              <td> 800$   </td>
              <td> 1900$  </td>
              <td> 500$   </td>
              <td> 450$   </td>

              </tr>
            
            
              
              <tr>
              

              <td> 4 Unidades  </td>
              <td> 1100$   </td>
              <td> 2400$  </td>
              <td> 700$   </td>
              <td> 600$   </td>

              </tr>

            
              <tr>
              
              <td> 5 Unidades  </td>
              <td> 1300$   </td>
              <td> 3000$  </td>
              <td> 800$   </td>
              <td> 750$   </td>

              </tr>
          </tbody>

        </table>
   </div>


  








      
    </div>
       
    


    <div class="tab-pane fade show active" id="imagenes" roll="tabpanel" aria-labelledby="imagenes-tab">

      
    <div class="row margin1">
      

      <div class="card col-sm-3">

        <div class="card-body">
          <H4>Remera Music Lover</H4>

          <img class="card-img-top" src="./img/remera1.jpg">


       </div>
        
   </div>


      <div class="card col-sm-3">

        <div class="card-body">
          <H4>Remera Armin Van Buuren</H4>

          <img class="card-img-top" src="./img/remera-armin.jpg">


       </div>
        
   </div>

      <div class="card col-sm-3">

        <div class="card-body">
          <H4>Remera Tiesto</H4>

          <img class="card-img-top" src="./img/remera-tiesto.jpg">


       </div>
    </div>




    <div class="card col-sm-3">

        <div class="card-body">
          <H4>Remera Skrillex</H4>

          <img class="card-img-top" src="./img/remera-skrillex.jpg">


       </div>
    </div>




    </div> <!--Row margin 1__>





    </div>
       
 


    <div class="tab-pane fade show active" id="descuentos" roll="tabpanel" aria-labelledby="descuentos-tab">
      

     <div class="row">
       
       <div class="card col-sm-3"></div>

       <div class="card-body">
         <h4>Descuentos En Gorras</h4>


       </div>


     </div>


    </div>

    

    <div class="tab-pane fade show active" id="envios" roll="tabpanel" aria-labelledby="envios-tab"></div>

  



   </div>
</div>